// ==============================
//  Size
// ==============================

$container: 1336px;
$header-height: 3.5rem;

// ==============================
// Colors
// ==============================
$light-colors: ();

$project-colors: (
  //PRIMARY COLOR
  'primary': #80acff,
  'primary-100': #527ccc,
  'primary-200': #2e5399,
  'primary-300': #143166,
  'primary-400': #051533,
  //NEUTRAL COLORS
  'dark': #1c2739,
  'dark-100': #182131,
  'dark-200': #141b29,
  'light': #f5f9ff,
  'light-100': #eef5fe,
  //GRAY SCALE
  'gray': #ebeff8,
  'gray-100': #e4e8f1,
  'gray-200': #d5dae2,
  'gray-300': #c3c7cf,
  'gray-400': #a4a8b1,
  'gray-500': #868b93,
  'gray-600': #6f737c,
  //GRADIENT
  'gradient': linear-gradient(45deg, #2e5399 2.88%, #80acff 100%)
);
// ==============================
// Z-Index
// ==============================

$z-indexes: (
  'above': 500,
  'modal': 400,
  'overlay': 300,
  'dropdown': 200,
  'default': 1,
  'below': -1
);
