*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg,
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ol,
ul {
  list-style: none;
}

// CONFIGURAÇÃO DO PROJETO

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--dark-200);
  font-family: 'Poppins', sans-serif;
  font-size: rem(16);
  color: var(--light);
  overflow-x: hidden;
}
