$component-name: 'header';

.#{$component-name} {
  width: 100%;
  //   position: fixed;
  top: 0;
  left: 0;
  z-index: z('dropdown');

  &__nav {
    height: cal($header-height + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(48);
  }
  &__link {
    position: relative;
    padding: 16px 0;
    display: inline-flex;
    align-items: center;
    column-gap: rem(8);
    font-size: rem(18);
    font-weight: 300;

    i {
      font-size: rem(24);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--primary);
    }
  }
  #toggle-theme {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;

    i {
      font-size: rem(24);
    }

    &:hover {
      color: var(--primary);
      background-color: var(--primary-300);
    }
  }
}
